.logoteam {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}
.logoimg {
    width: 5rem;
    height: 5rem;
    margin: auto 3rem;
}
.logotext {
    margin: auto 8rem;
    font-family: fantasy;
    display: inline-block;
    font-size:40px;
    transform: scale(.9, 1);
    color: black;
    text-transform: uppercase;
}
.background {
    position: relative;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 15%;
    left: 0;
  }
h1{
    position: absolute;
}